<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<form action="/crud/" method="post">
    {% csrf_token %}
    语言：<select name="language">
    <option value="Python">Python</option>
    <option value="Go">Go</option>
    <option value="Java">Java</option>
    <option value="Javascript">Javascript</option>
    <option value="C/C++">C/C++</option>
    <option value="Other">Other</option>
</select><br>
    类别：<input type="text" name="class"><br>
    标题：<input type="text" name="title"><br>
    描述：<textarea name="describe"></textarea><br>
    code：<textarea name="code"></textarea><br>
    <hr>
    <button>上传</button>
</form>

</body>
</html>